//Stored externally for safety reasons
//set your SSID and Password below
//see background here: https://www.andreagrandi.it/posts/how-to-safely-store-arduino-secrets/
//add this to the top of your main file:
//#include <credentials.h>


#define ext_ssid "Your_SSID"
#define ext_password "Your_Password"
